body{
	background-color: #74A3AB;
}

aside{
	background-color: #FEB8B3;
	float: right;
	border: solid;
	border-color: #FEDEB3;
}

canvas{
	position: absolute;
	left: 0;
	right: 0;
	background: transparent;
	border-color: #9B9897;
	border: outset;
}

.btn {
	height: 40px;
	width: 20px;
	background-color: #AAFFBA;
	border: none;
	text-decoration-color: white;
  	color: white;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 50%;
}

#backgroundLayer{
	z-index: 0;
	background: #90DFEE;
}

#presentationLayer{
	z-index: 1;
}

#userInterfaceLayer{
	z-index: 2;
}

.button {
	position: relative;
	background-color: #FF935A;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: ;
	color: ;
	border-radius: calc();
	border: none;
}
