body{
	background-color: #74A3AB;
}

aside{
	background-color: #FEB8B3;
	float: right;
	border: solid;
	border-color: #FEDEB3;
}

canvas{
	position: absolute;
	left: 0;
	right: 0;
	background: transparent;
	border-color: #9B9897;
	border: outset;
}

span {
	display: inline-block;
	color: #AAFFBA;
	vertical-align: middle;
	max-width: 90%;
}

.btn {
	min-width: 60px;
	max-width: 120px;
	background-color: #AAFFBA;
	display: inline-block;
	outline: none;
	border: 2px solid #AAFFBA;
	border-style: none;
	border-radius: 100%;
	overflow: none;
	text-align: center;
	padding: 0;
}

#backgroundLayer{
	z-index: 0;
	background: #90DFEE;
}

#presentationLayer{
	z-index: 1;
}

#userInterfaceLayer{
	z-index: 2;
}

.button {
	position: relative;
	background-color: #FF935A;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: ;
	color: ;
	border-radius: calc();
	border: none;
}
