body{
	background-color: #74A3AB;
}

aside{
	background-color: #FEB8B3;
	float: right;
	border: solid;
	border-color: #FEDEB3;
}

canvas{
	position: absolute;
	left: 0;
	right: 0;
	background: transparent;
	border-color: #9B9897;
	border: outset;
}

img {
	position:relative;
    height: 60px;
	width: 60px;
	transform: translate(-15%, -15%);
}

a {
	height: 40px;
	width: 40px;
	background-color: #AAFFBA;
	color: black;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	text-decoration-color: black;
  	display: none;
  	border: none;
  	border-radius: 100%;
}

#menuButton {
	height: 80px;
	width: 80px;
	background-color: #AAFFBA;
	color: black;
  	padding: 20px;
  	text-align: center;
  	text-decoration: none;
  	text-decoration-color: black;
  	display: inline-block;
  	border: none;
  	border-radius: 100%;
}

#backgroundLayer{
	z-index: 0;
	background: #90DFEE;
}

#presentationLayer{
	z-index: 1;
}

#userInterfaceLayer{
	z-index: 2;
}

.centerPage {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
